/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Montserrat', sans-serif;
    src: url(fonts/Montserrat)
    padding: 0;
    text-align: center;
}

/* Site Header */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-container .logo {
    font-size: 1.2rem;
    font-weight: bold;
    color: #a12d27;
}

.logo {
    max-width: 180px;
    height: auto;
}

.directory ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.directory a {
    text-decoration: none;
    color: #555;
    font-weight: 400;
    transition: color 0.3s ease;
}

h1 {
    font-weight: 400;
    margin-top: 40px; /* Adjust value to move the title further down */
    margin-bottom: 40px
}
 
h2 {
    font-weight: 600;
    margin-top: 7px; /* Adjust value to move the title further down */
    margin-bottom: 20px
}

.directory a:hover {
    color: #a12d27;
}

/* Wrapper for Calculators */
.container-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}

/* Calculator Box */
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

/* Form Styling */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #A12D27;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #911D1A;
}

.output {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container-wrapper {
        flex-direction: column;
    }

    .container {
        max-width: 100%;
    }
}

/* Footer */
footer {
    margin-top: 50px;
    font-size: 0.8rem;
    color: #bdc3c7;
}

.acknowledgment {
    font-size: 0.8rem;
    color: #7f8c8d;
    margin-bottom: 10px;
}

footer p {
    margin-bottom: 30px;
}
